


<div id="post" class="" style="margin-left:0px;max-height:100%;overflow-y:auto;">
</div>

<script>
$(function(){
		//
		// catch event on updated bookmark   
		$(document).bind("on-update-bookmark",function(who,bookmark){
		});
		
		//
		// set bold/normal the font weight
		$(document).bind("on-display-bookmark",function(who,bookmark){
            $.findFeedById(bookmark.id,function(r){
            		var body=$("#post");
                //console.log(r);
                
                $.each(r.channel.item,function(i, post){
									$("#tmpl-post-item").tmpl({post:post}).prependTo(body);
									//console.log(post);
                });
                $("#post").getNiceScroll().resize();
                
            });
		});
    $("#post").niceScroll({autohidemode:false});

	
		
	});	
</script>

<!--                    -->
<!--  JQUERY TEMPLATE   -->
<!--                    -->
{{verbatim}}
<script type="text/x-jquery-tmpl" id="tmpl-post-item">
	<div class=" box bg-white outline wrap-height" >
		<div class="box-header">
			<h4><a href="{{= post.link}}">{{= post.title}}</a> <i class="icon-remove right hand" ></i></h4>
		</div>
		<div class="box-body">
		{{if post["content:encoded"]}}
			{{html post["content:encoded"]}}
		{{else}}
			{{html post.description}}
		{{/if}}
		</div>
		<div class="box-footer">
			<p>
		      <button type="button" class="btn btn-mini btn-primary">unread</button>
		      <button type="button" class="btn btn-mini ">diaspora</button>
		      <button type="button" class="btn btn-mini">tweet</button>
		      <button type="button" class="btn btn-mini"><i class="icon-star-empty"></i> publish</button>
		  </p>
		</div>
	</div>

</script>
{{/verbatim}}
